<div class="about-card" id="about-card">
    <mat-card>
        <mat-card-content id="card-content">
            This Converter App was a course work in Web Frameworks &#64;LAB autumn 2023.
            Framework stack used was Angular 17.0.8. Source code was written with TypeScript using VS Code. 
            UI Library used was Angular Material v17.0.0
        </mat-card-content>
        <mat-card-actions>
            <i class="material-icons"><a routerLink="/" >home</a></i>
        </mat-card-actions>
    </mat-card>
</div>

